
.cabecalhohead {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#posicao2head {
    text-align: center;
    color: #edbb00;
}

.meiohead {
    width: 80%;
    margin: 0 auto
}

.conteiner {
    width: 50%;
    margin: auto;

}

.formulario {
    width: 60%;
    margin: 0 auto;
}

.campo {

    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0, 4em;
    color: #edbb00;
    display: block;
}

.campo input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px 0 black;
}

.campo {
    margin: 1em 0;
}

textarea {
    width: 100%;
    height: 10%;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 6px 6px 6px 0 black;
}

p small {
    color: #ff0000;
}

.botaohead button {
    background-color: #EDBB00;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 200px;
}

.botaohead button:hover{
    background-color: rgb(101, 143, 58);
}
