
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #efe3db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 100px;
    max-height: 100px;
    margin-left: 50px;
}

strong {
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    color: #000000;
}

nav {
    display: inline;
    margin-right: 50px;
}

a {
    text-decoration: none;
}

.menu {
    margin: 5px;
    width: 66px;
}

.idiomas {
    background-color: #000000;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    width: 120px;
    height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.arrow {
    height: 15px;
}


footer {
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
    bottom: 0;
    height: 80px;
    width: 100%;
}

.social {
    height: 50px;
}