* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
    position: relative;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;

    transition: background 0.2s linear;
}

.dark-mode {
    background-color: #333;
}

.header-container {
    background-color: #EDBB00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    max-height: 100px;
    margin-left: 10px;
}

strong {
    font-size: 24px;
    color: #000000;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

.div-utility {
    gap: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.span-menu {
    display: flex;
}

.checkbox-conteiner {
    max-width: 42px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 16px;
    width: 30px;

    transform: scale(1.5);
}

.label .ball {
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 12px;
    width: 12px;
    transform: translateX(0px);
    transition: transform 0.2s linear;

}

.checkbox:checked + .label .ball {
    transform: translateX(12px);
}

.moon {
    color: #f1c40f !important;
    max-width: 10px !important;
}

.sun {
    color: #f39c12 !important;
    max-width: 12px !important;
}

a {
    text-decoration: none;
}

.menu {
    width: 32px;
    max-height: 32px;
    margin-left: 10px;
    margin: 5px;
}

.idiomas {
    background-color: #000000;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    width: 90px;
    height: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.arrow {
    height: 15px;
}

main {
min-height: 80vh;
border-radius: 0px 0px 15px 15px;
}

footer {
    background-color: #EDBB00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.footer-container{
    border-radius: 0px 0px 15px 15px;
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-info, .footer-social {
    max-width: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: calc(50% - 20px);
}

.footer-social p,
.footer-social p a,
.footer-info p  {
    margin-top: 10%;
    flex-basis: calc(50% - 20px);
    text-align: center;
}

.footer-info {
    margin-left: 80px;
}

.footer-social {
    max-width: 260px;
    text-align: center;
}

.social {
    width: 32px;
    height: 32px;
    margin: 5px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.4);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.social:hover {
    transform: scale(1.1);
}

.footer-copyright {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    width: 100%;
    height: 3px;
    padding-top: 16px;
    text-align: center;
    flex-basis: calc(50% - 20px);
    text-align: center;
}

.enabled {
    position: absolute;
    top: 0;
    bottom: 0;
}

.access-button {
    width: 30% !important;
    border-radius: 50% !important;
    border: 1px solid #ffffff9f !important;
}