main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.conteiner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.box {
    min-height: 200px;
    max-width: 250px;
    border: 7px solid #cdcdcd;
    margin: 10px;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a91e30;
    background-color: #fff;
}

.text-box-link-dark {
    color: #000000; 
}

.text-box-link-2 {
    color: #f35000; 
}

.text-box-link-3 {
    color: #3d5a98; 
}

.registration-link {
    text-align: center;
    margin-top: 20px;
}

.registration-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 100px;
    padding: 10px;
}

.registro {
    max-height: 150px;
}