main {
    margin-top: 110px;
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #c4c0bf;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: none;
}

.conteiner_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#username {
    padding: 20px;
    border-radius: 15px;
    border: none;
}

#password {
    padding: 20px;
    border-radius: 15px;
    border: none;
}
.conteiner_login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
}

.login {
    background-color: #00b8a9;
    padding: 8px 25px;
    border-radius: 10px;
    border: none;
}

.login-link {
    text-decoration:none;
    color: #fff;
}

.span {
    color: #fff;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}