
.container-text-welcome{
    margin-bottom: 40px;
    padding: 20px;
    width: 900px;
    height: 300px;
    border-radius: 15px;
    background-color: #edba00b6;
}

.container-text-welcome p{
    margin-top: 20px;
}
.container-button{
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 20px;
    width: 1000px;
    display: flex;

}



.botao {
    background-color: #EDBB00;
    color: #000000;
    border-bottom: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 100px;
    margin: 20px;
    border: 0;
}


